<html lang='en' dir='ltr'>
  <head>
    <meta charset='utf-8' />
    <title>Hello!</title>
    <link rel='stylesheet' href='style.css' />
  </head>
  <body>
    <header>
      <nav>
        <a href='/'>Home</a>
        <a href='/list'>Employees</a>
      </nav>
    </header>
    {{{body}}}
    <img src='test.png' alt='' />
    <footer>design and directed by Andrzej Popiołek</footer>
  </body>
</html>