<h1>Oto ostatnie zmiany kadrowe w LP
  {{#each employees}}
    <div class='employee'>
      <div>{{fullName}}</div>
      <div>{{position}}</div>
      <div>{{unitName}}</div>
      <div>{{department}}</div>
    </div>
  {{/each}}
</h1>