<div class='home'>
  <div class='header'>
    <h1>Zmiany kadrowe</h1>
    <h1>w Lasach Państwowych</h1>
  </div>
  <div class='people-img'></div>
  <a href='/list'><div class='homesite-button'> Przejdź do listy</div></a>
</div>