@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
  overflow-y: scroll;
}

body {
  font-size: 32px;
  background: #c1d0b5;
  color: #72776d;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.container {
  max-width: 1000px;
}

.header {
  margin-top: 30px;
  font-family: 'Alfa Slab One', sans-serif;
  text-transform: uppercase;
  color: #72776d;
  font-size: 3rem;
}

.home {
  position: relative;
}

.homesite-button {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff8de;
  margin-bottom: 20px;
  border: 3px solid #eac37a;
  border-radius: 25px;
  padding: 15px;
}

a {
  color: #737f6d;
  font-size: 2rem;
  text-decoration: none;
}

.people-img {
  height: 900px;
  background-image: url(./foresters.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.employee {
  background: #fff8de;
  margin-bottom: 20px;
  border: 3px solid #eac37a;
  border-radius: 25px;
  display: flex;
  overflow: hidden;
  padding: 5px;
}

.shoulder-mark {
  margin: 5px;
  border-radius: 50px;
  flex-grow: 1;
  width: 1;
}

.personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 6;
  width: 1;
}

.shoulder-mark img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.fullname,
.unitname {
  font-size: 2.3rem;
}

.position,
.department {
  font-size: 1.5rem;
}

.pine-img {
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  width: 400px;
  background-image: url(./pine-left.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.pine-img.bottom {
  top: 810px;
  background-repeat: repeat-y;
}

.left-side {
  left: 0;
}

.right-side {
  right: 0;
  transform: scaleX(-1);
}

form {
  font-size: 1.5rem;
}

.territory,
.period,
.submit-button {
  margin-top: 10px;
}

label {
  color: black;
}

.submit-button {
  background-color: #eac37a;
  padding: 5px 20px;
  border: none;
  border: 3px solid #be7e07;
  border-radius: 25px;
  color: black;
}

button:hover {
  background-color: #c98810;
}

footer {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
}

@media (max-width: 1680px) {
  .people-img {
    scale: 0.95;
  }

  .pine-img {
    width: 300px;
  }

  .pine-img.bottom {
    top: 610px;
    background-repeat: repeat-y;
  }

  .people-img {
    height: 700px;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 800px;
  }

  .position,
  .department {
    font-size: 1.2rem;
  }

  .fullname,
  .unitname {
    font-size: 1.8rem;
  }
}

@media (max-width: 1200px) {
  .pine-img {
    width: 200px;
  }

  .pine-img.bottom {
    top: 400px;
    background-repeat: repeat-y;
  }

  .container {
    max-width: 700px;
  }
  .position,
  .department {
    font-size: 1rem;
  }

  .fullname,
  .unitname {
    font-size: 1.5rem;
  }
}

@media (max-width: 950px) {
  .pine-img {
    display: none;
  }
}

@media (max-width: 700px) {
  .header {
    margin-top: 20px;
  }

  .homesite-button {
    padding: 5px;
    width: 70%;
  }

  .people-img {
    scale: 0.9;
  }
}

@media (max-width: 400px) {
  .people-img {
    height: 600px;
    background-position: top center;
  }

  .shoulder-mark:first-child {
    display: none;
  }
}
